
body {
    margin: 5px 5px 5px 5px ;
    padding: 0 30% 0 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

form{
    background-color: rgb(15, 183, 235);
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

header{
   text-align: center;
   font-size: 30px;
   padding-bottom: 10px;
}

label{
    display: inline-block;
    padding: 0px 0px 10px 0px;
}

input[type=text]{
    width: 100%;
    margin: 0 0 10px 0;
    display: inline-block;
  }

.div_form{
    background-color: rgb(15, 183, 235);
    display: flex;
    flex-flow: row;  
}

.labels{
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-flow: column;
}

.inputs{
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-flow: column;
}

.submit_button{
    text-align: center;
}



